body {
  background: #feffdf;
}
.container {
  max-width: 450px;
  background: #ffe79a;
  color: #ef5a5a;
  padding: 20px;
  margin: 50px auto;
  border-radius: 15px;
  font-family: "Exo 2", sans-serif;
}
h1 {
  text-align: center;
}
.location {
  font-size: 45px;
}
.temperature {
  font-size: 80px;
}
.condition {
  font-size: 50px;
}
.feels-like {
  opacity: 0.8;
}
h2 {
  font-style: italic;
}

hr {
  opacity: 0.3;
  color: #feffdf;
}
h3 {
  font-size: 24px;
  text-align: center;
}
.forecast-min {
  opacity: 0.8;
}
.daily-forecast {
  display: flex;
  justify-content: space-between;
}

.search-form-input {
  padding: 15px 45px;
  border-radius: 5px;
  border: none;
  box-shadow: 0, 0, 0, 0.3;
  background-color: #f68282;
}
.search-button {
  padding: 15px;
  border-radius: 5px;
  border: 1.5px;
  background-color: #feffdf;
  color: #ef5a5a;
}
